#---------------------------------#
#         version format          #
#---------------------------------#
version: 4.1.{build}


#---------------------------------#
#    environment configuration    #
#---------------------------------#
os: Visual Studio 2015


#---------------------------------#
#            patching             #
#---------------------------------#
assembly_info:
  patch: true
  file: src\SolutionInfo.cs
  assembly_version: '{version}.0'
  assembly_file_version: '{version}.0'
  assembly_informational_version: '{version}'


#---------------------------------#
#             install             #
#---------------------------------#
install:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-desktop.ps1'))


#---------------------------------#
#              build              #
#---------------------------------#
pull_requests:
  do_not_increment_build_number: true

skip_tags: true

build:
  verbosity: minimal


#---------------------------------#
#       build configuration       #
#---------------------------------#
build_script:
  - cmd: ./Build.bat


#---------------------------------#
#       tests configuration       #
#---------------------------------#
test:
  assemblies: '**\bin\Release\*Test.dll'
  categories:
    except:
      - Manual


#---------------------------------#
#      artifacts configuration    #
#---------------------------------#
artifacts:
  - path: '*.nupkg'
    name: NuGet


#---------------------------------#
#            on finish            #
#---------------------------------#
on_finish:
  - ps: Get-ChildItem -Path Failed_*.png -Recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }


#---------------------------------#
#              nuget              #
#---------------------------------#
nuget:
  project_feed: true
 

#---------------------------------#
#         notifications           #
#---------------------------------#
notifications:
  # Email
  - provider: Email
    to:
      - mattias.kindborg@email.com
    on_build_status_changed: true


#---------------------------------#
#              cache              #
#---------------------------------#
cache:
    # preserve "packages" directory in the root of build folder
    # but will reset it if packages.config is modified
  - src\packages -> **\packages.config