#---------------------------------#
#           environment           #
#---------------------------------#
image: Visual Studio 2017

install:
  - ps: |
      $logo = (Invoke-WebRequest "https://raw.githubusercontent.com/FantasticFiasco/logo/master/logo.raw").toString()
      Write-Host "$logo" -ForegroundColor Green


#---------------------------------#
#              build              #
#---------------------------------#
build_script:
  - cmd: PowerShell -Version 2.0 .\build.ps1


#---------------------------------#
#              tests              #
#---------------------------------#
test:
  assemblies: '**\*.Test.dll'
  categories:
    except:
      - Manual


#---------------------------------#
#      artifacts configuration    #
#---------------------------------#
artifacts:
  - path: '*.nupkg'
    name: NuGet


#---------------------------------#
#              deploy             #
#---------------------------------#
deploy:
  - provider: GitHub
    description: TODO
    auth_token:
      secure: de2wnJZf6k7NY0XriDpf9BkrQ4MR5ZfDDWMM+H/K4OK3w0GpuJAMRj5PrO6tKu0K
    draft: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: NuGet
    api_key:
      secure: +Bilz7dCD+2p0lK1ZouppJTQoLELbF0WvTPhwT56qD6NCJAfJnlWEe8Ig5igR34O
    skip_symbols: false
    artifact: /.*\.nupkg/
    on:
      APPVEYOR_REPO_TAG: true
