<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="MVVM Dialogs Rules" Description="This is the rule set adapter for the framework MVVM Dialogs. It originated from All Rules but has then been modified by disabling rules that doesn't seem important or plain wrong for this application in question." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1004" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
  </Rules>
</RuleSet>